<template name="_topButton">
  {{#contentFor "headerButtonLeft"}}
  <button class="button button-clear pull-left" data-ion-menu-toggle="left">
    {{#if isAndroid}}
    {{> ionIcon icon='android-more-vertical'}}
    {{else}}
    {{> ionIcon icon='navicon'}}
    {{/if}}
  </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">TEAMSPORT</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{#if currentUser}}
  <a href="player/{{currentUser._id}}" class="button button-clear pull-right">
    <button class="button button-clear pull-right">
      {{ currentUser.profile.firstName }}
    </button>
  </a>
  {{ else }}
  <ul style="float:right;display:inherit;margin-left:auto">
    <li>
      <a href="/login" class="button button-clear">
        {{_ "Login"}}
      </a>
    </li>
    <li>
      <a href="{{ pathFor route='signup'}}" class="button button-clear">
        <button class="button button-clear">
          {{_ "Register" }}
        </button>
      </a>
    </li>
  </ul>
    {{/if}}
    {{/contentFor}}

  </template>
