$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.contact-detail {
  background: $stable;
}
body.keyboard-open .platform-android .content.overflow-scroll {
  bottom: 0px !important;
}
.bar.bar-positive
{
  border-color:#00a751!important;
  background-color:#00a751!important;

}
.button.button-positive
{
  border-color:#00a751!important;
  background-color:#00a751!important;
}

.button:hover{
  border-color:#007095!important;
  background-color:#007095!important;

}
