<template name="playersShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="contacts" text="Contacts"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{ player.profile.firstName }} {{ player.profile.lastName }} profile</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_contactsEdit" data-id="{{player._id}}">Edit</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
      {{#with player}}
        <div class="list card">

          <div class="item item-avatar">
            <img src="{{avatarUrl}}">
            <h2>{{ profile.firstName }} {{ profile.lastName }}</h2>
            <p>Test, ddssd</p>
          </div>

          <div class="item item-body">

            <h4>Notes</h4>
            <p>

            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#" data-action="fake">
              <i class="icon ion-email"></i>
              Send Email
            </a>
            <a class="tab-item" href="#" data-action="fake">
              <i class="icon ion-iphone"></i>
              Call
            </a>
            <a class="tab-item" href="#" data-action="fake">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
